<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjxeeJ7PcILvXKSuVaP3WVroeunN3KTMc</string>
	<key>GCM_SENDER_ID</key>
	<string>1003793377843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bashvicorp.AnyList</string>
	<key>PROJECT_ID</key>
	<string>anylist-8d32b</string>
	<key>STORAGE_BUCKET</key>
	<string>anylist-8d32b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003793377843:ios:0e3ebd222723e29eeed146</string>
</dict>
</plist>